{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaiur Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Chaiur Django</h1>
        <nav>
            <a href="{% static 'index.html' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </nav>
    </header>
</body>
</html>